@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN" class="bgc-fa">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="">
<meta name="copyright" content="" />
<meta name="description" content="">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>易考网</title>
<!-- css -->
<link rel="stylesheet" type="text/css" href="/Areas/Areas/Content/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/Areas/Areas/Content/css/main.css"/>
</head>
<body class="bgc-fa">

  <!-- 头部 -->
   @{
        Html.RenderAction("Head", "Home", new { id = 3});
         }
  <!-- 头部 END -->

  <!-- 考试中心 -->
  <ul class="kaoshi-center">
    <li><a href="/Areas/Exam/Examlist">模拟考试</a></li>
    <li><a href="/Areas/Exam/Testlist">模拟练习</a></li>
    <li><a href="/Areas/Exam/Zhlist">综合练习</a></li>
  </ul>
  <!-- 考试中心 END -->

</body>
</html>