@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<!--网页左上角小图标-->
<link rel="shortcut icon" href="/Content/images/icon_logo.ico" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="培知教育，成人高考，自考，普通话，教师资格证，教育培训"/>
<meta name="Keywords" content="培知教育，成人高考，自考，普通话，教师资格证，教育培训"/>
<title>易考网</title>
<!-- css -->
<link rel="stylesheet" type="text/css" href="/Content/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/Content/css/main.css"/>
<style>
  .user_edit {
    width: 100%;
    min-height: 580px;
  }
  .user_edit p {
    line-height: 30px;
  }
  .user_edit p.p1 {
    font-size: 16px;
    color: #333;
  } 
</style>
</head>
<body class="bgc_fa">
  <!-- 顶部 -->
 
  <!-- 顶部 END -->

  <!-- 顶部导航 -->
  @{
      Html.RenderAction("HeadPart", "Base", new { id = 7});
         }
  <!-- 顶部导航 END -->

  <!-- 新闻资讯 -->
  <div class="certif_center">
    <!-- 标题 -->
    <div class="clear h20"></div>
    <!-- 内容 -->
    <div class="content">
      <!-- 左边导航 -->
      <div class="left_nav">
        <ul>
          <li><a href="###" onclick="selectC('关于我们')">关于我们</a></li>
        
        </ul>
        <div class="bg"></div>
      </div>
      <!-- 右侧内容 -->
      <div class="right_info">
        <div class="user_edit">
          <p class="p1" id="types">@ViewBag.types</p>
            <div id="Contents">
        @Html.Raw(ViewBag.about)
        </div>
      </div>
    </div>
  </div>
  <!-- 新闻资讯 END -->

  <!-- 底部 -->
   @{
     Html.RenderAction("Foot", "Base");
         }
  <!-- 底部 END -->
</body>
</html>
<script src="/Content/js/jquery-2.0.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function selectC(types)
    {
        $.ajax({
            type: "post",
            url: "/HomeServer/AboutAjax",
            data: { types: types },
            success: function (IsSuccess) {
                $("#types").text(types);
                $("#Contents").empty()
                $("#Contents").append(IsSuccess);

            }

        });
    }

</script>
