@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN" class="bgc-fa">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="">
<meta name="copyright" content="" />
<meta name="description" content="">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="description" content="培知教育，成人高考，自考，普通话，教师资格证，教育培训"/>
<meta name="Keywords" content="培知教育，成人高考，自考，普通话，教师资格证，教育培训"/>
<title>易考网</title>
<!-- css -->
<link rel="stylesheet" type="text/css" href="/Areas/Areas/Content/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/Areas/Areas/Content/css/main.css"/>
<!-- js -->
<script type="text/javascript" src="/Areas/Areas/Content/js/jquery-1.11.3.min.js"></script>

</head>
<body class="bgc-fa">

  <!-- 头部 -->
  @{
        Html.RenderAction("Head", "Home", new { id = 6});
         }
  <!-- 头部 END -->

  <!-- 认证中心 -->
  <article class="certif-center">
    <ul id="tab-ul-2">
      <li class="active"><a href="#" onclick="selectC('教师资格证',this)">教师资格</a></li>
      <li><a href="#" onclick="selectC('教师资格证',this)">普通话</a></li>
      <li><a href="#" onclick="selectC('成人高考',this)">成考</a></li>
      <li><a href="#" onclick="selectC('自考',this)">自考</a></li>
    </ul>
    <ol id="tab-ol-2">

      <li>
        <section class="certif-lists" id="Contents">
           @Html.Raw(ViewBag.about)
        </section>
      </li>

   
    </ol>
  </article>


</body>
</html>
<script src="/Content/js/jquery-2.0.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function selectC(types, obj) {
        $(obj).parent().siblings().removeClass();
        $(obj).parent().addClass("active");
        $.ajax({
            type: "post",
            url: "/HomeServer/AboutAjax",
            data: { types: types },
            success: function (IsSuccess) {
              
               
                $("#Contents").empty()
                $("#Contents").append(IsSuccess);

            }

        });
    }

</script>
